<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../assets/sapling.css">
    <link rel="stylesheet" type="text/css" href="../assets/popup.css">
    <link rel="stylesheet" type="text/css" href="../generated/icomoon.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script type="text/javascript" src="./jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./rangyinputs-jquery.js"></script>
    <script type="text/javascript" src="./main-bundle.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <div id="sapling-embedded-popup">
      <img src="../assets/sapling-logo-horizontal.png" style="height: 25px; width: 125px; margin-bottom: 0.5em;" />

      <p id="subscription-banner">You are on the <strong>free</strong> plan. <a href="<%=htmlWebpackPlugin.options.saplingWebUrl%>/plans">Pro features</a> are missing.</p>

      <p id="team-premium-banner"></p>
      <p id="team-share-banner"></p>

      <div id="sapling-embed-controls"></div>
      <p id="refresh-warning"><strong>Refresh</strong> the page after changing this setting.</p>

      <div id="sapling-status-message" style="text-align:center"></div>
      <div id="sapling-embedded-container">
        <div id="sapling-embedded-editable" contenteditable=true data-gramm_editor="false" spellcheck=false placeholder="Type/paste some text here, or just type within the webpage textboxes."></div>
        <div id="user-manager-form" style="display:none;">
          <div id="confirm-message" class="text-center">An email has been sent to your email address.  Please confirm your email to use the editor.</div>
          <div id="login-signup-block" class="text-center">
            <div id="sign-up-block">
              <button target="_blank" id="sign-up-button" href="<%=htmlWebpackPlugin.options.saplingWebUrl%>/user/register">Sign Up</button> to use the Sapling editor
            </div>
            <div id="log-in-block">
              Already registered? <a id='log-in-link' target="_blank" href="<%=htmlWebpackPlugin.options.saplingWebUrl%>/user/sign-in">Log in</a>
            </div>
          </div>
        </div>
      </div>

      <div id="footer">
        <div id="user-usage">
            <div class="user-usage-stat">
              <span>Accepts:</span>
              <span id="user-usage-accepts"></span>
            </div>
            <div class="user-usage-stat">
              <span>Ignores:</span>
              <span id="user-usage-ignores"></span>
            </div>
            <div class="user-usage-stat">
              <span>Since:</span>
              <span id="user-usage-since"></span>
            </div>
        </div>
        <div id="footer-right">
          <p id="popup-message"></p>
          <span id="logout-span" style="display:none;"><a href="<%=htmlWebpackPlugin.options.saplingWebUrl%>/teams" target="_blank"><i class="fas fa-user-friends"></i> Teams</a>&nbsp; |&nbsp; <a id="logout-button"><i class="fas fa-sign-out-alt"></i> Logout</a></span>
        </div>
        <div style="margin-top: 3em;">
        </div>
      </div>
    </div>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>-->
  </body>
  <script type="text/javascript" src="../popup/index.js"></script>
  <script type="text/javascript" src="../popup/intercom.js"></script>
</html>
